{%  extends "base.html" %}

{% block content %}
    <section>
        <h2>Meter Type Detials</h2>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ object.name }}</dd>
            <dt>Unit</dt>
            <dd>{{ object.unit_long }}</dd>
        </dl>
    </section>

    {% if meters_list %}
        <section>
            <h2>Meters of this type</h2>
            <table style="width:300px" border="1">
                <thead align="left">
                <tr>
                    <th>Name</th>
                    <th>Object</th>
                </tr>
                </thead>
                <tbody>
                {% for meter in meters_list %}
                    <tr>
                        <td><a href="{% url 'tracker:meter_detail' meter.id %}">{{ meter.name }}</a></td>
                        <td><a href="{% url 'tracker:mobject_detail' meter.measurement_object.id %}">{{ meter.measurement_object.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}

{% endblock %}